version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: powerstrong_db
    environment:
      MYSQL_DATABASE: powerstrongdb
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: .
    container_name: powerstrong_server
    ports:
      - "8080:8080"
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/powerstrongdb?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      
  adminer:
    image: adminer:latest
    container_name: powerstrong_adminer
    ports:
      - "8081:8080" 
    depends_on:
      - mysqldb
    restart: always

volumes:
  db_data:
